# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Dependencies (if using npm)
node_modules/
package-lock.json

# Build artifacts
dist/
build/
_site/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
