---
layout: page
---

{% if page.tag %}
  <h2>Posts tagged "{{ page.tag }}"</h2>
  <ul class="list  list--posts">
    {% for post in page.posts %}
      <li class="item  item--post">
        <article class="article  article--post  typeset">
          <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
          <small class="small  post-meta">
            {% assign date_format = site.date_format | default: "%d %b %Y" %}
            <time datetime="{{ post.date | date_to_xmlschema }}" class="time">{{ post.date | date: date_format }}</time>
          </small>
          {{ post.excerpt | markdownify | truncatewords: 30 }}
        </article>
      </li>
    {% endfor %}
  </ul>
{% endif %}
